In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('/content/election2024.csv')

In [4]:
df.head()

,id,sex,age,federal_district,type_of_city,knows_election_date,will_vote,candidate,television_usage,internet_usage,education,income,employment,job_type,company_type,weight1
0,07169ed8148ce047,male,18.0,north caucasian,village,named correct date,not sure,Putin,several times a week,over 4 hours a day,incomplete school education,very high,entrepreneur,NaN,farming,1.445172
1,0716a4f3354cecdd,male,23.0,north caucasian,village,named correct date,not sure,Putin,once half a year,over 4 hours a day,college,very high,work for hire,commercial organization,trade,1.445172
2,0716889b304ce79c,male,20.0,volga,city with population of less than 50k,named correct date,definitely yes,Putin,several times a week,over 4 hours a day,college,very high,work for hire,law enforcement agency,law enforcement agency,1.301691
3,07168e28b5cce563,male,22.0,northwestern,city with population of 1 million and higher,not sure or no answer,not sure,Davankov,several times a week,over 4 hours a day,college,very high,unemployed,NaN,NaN,1.538628
4,0716a563914ce549,male,21.0,southern,city with population of 1 million and higher,named correct date,definitely yes,Putin,does not watch,over 4 hours a day,bachelor degree,very high,employed student,commercial organization,"tech, programming, communications",1.967015

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1600 non-null   object
 1   sex                  1600 non-null   object
 2   age                  1600 non-null   float64
 3   federal_district     1600 non-null   object
 4   type_of_city         1600 non-null   object
 5   knows_election_date  1600 non-null   object
 6   will_vote            1600 non-null   object
 7   candidate            1600 non-null   object
 8   television_usage     1600 non-null   object
 9   internet_usage       1600 non-null   object
 10  education            1600 non-null   object
 11  income               1600 non-null   object
 12  employment           1600 non-null   object
 13  job_type             692 non-null    object
 14  company_type         879 non-null    object
 15  weight1              1600 non-null   float64
dtypes: float64(2), object(14)
memory usage: 200.1+ KB

In [7]:
df.drop('id',axis=1,inplace=True)

In [8]:
df.isna().sum()

sex                      0
age                      0
federal_district         0
type_of_city             0
knows_election_date      0
will_vote                0
candidate                0
television_usage         0
internet_usage           0
education                0
income                   0
employment               0
job_type               908
company_type           721
weight1                  0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
#remove or replace null values from  job_type
df['job_type'].value_counts()

job_type
commercial organization                    445
government agency                          163
law enforcement agency                      33
non-profit agency                           22
hard to say                                 22
government, management, judicial bodies      7
Name: count, dtype: int64

In [11]:
df['job_type'].replace(np.nan,'unemployed',inplace=True)

In [12]:
df.isna().sum()

sex                      0
age                      0
federal_district         0
type_of_city             0
knows_election_date      0
will_vote                0
candidate                0
television_usage         0
internet_usage           0
education                0
income                   0
employment               0
job_type                 0
company_type           721
weight1                  0
dtype: int64

In [13]:
df['company_type'].replace(np.nan,'private',inplace=True)

In [14]:
df.isnull().sum()

sex                    0
age                    0
federal_district       0
type_of_city           0
knows_election_date    0
will_vote              0
candidate              0
television_usage       0
internet_usage         0
education              0
income                 0
employment             0
job_type               0
company_type           0
weight1                0
dtype: int64

In [16]:
cat_col=df.select_dtypes(include='object').columns
num_col=df.select_dtypes(exclude='object').columns

In [ ]:
#convert categorical columns to numerical columns
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in cat_col:
  df[col]=le.fit_transform(df[col])

In [17]:
df.head()

,sex,age,federal_district,type_of_city,knows_election_date,will_vote,candidate,television_usage,internet_usage,education,income,employment,job_type,company_type,weight1
0,male,18.0,north caucasian,village,named correct date,not sure,Putin,several times a week,over 4 hours a day,incomplete school education,very high,entrepreneur,unemployed,farming,1.445172
1,male,23.0,north caucasian,village,named correct date,not sure,Putin,once half a year,over 4 hours a day,college,very high,work for hire,commercial organization,trade,1.445172
2,male,20.0,volga,city with population of less than 50k,named correct date,definitely yes,Putin,several times a week,over 4 hours a day,college,very high,work for hire,law enforcement agency,law enforcement agency,1.301691
3,male,22.0,northwestern,city with population of 1 million and higher,not sure or no answer,not sure,Davankov,several times a week,over 4 hours a day,college,very high,unemployed,unemployed,private,1.538628
4,male,21.0,southern,city with population of 1 million and higher,named correct date,definitely yes,Putin,does not watch,over 4 hours a day,bachelor degree,very high,employed student,commercial organization,"tech, programming, communications",1.967015

In [18]:
df.dtypes

sex                     object
age                    float64
federal_district        object
type_of_city            object
knows_election_date     object
will_vote               object
candidate               object
television_usage        object
internet_usage          object
education               object
income                  object
employment              object
job_type                object
company_type            object
weight1                float64
dtype: object

In [19]:
df['federal_district'].value_counts()

federal_district
central            425
volga              324
siberian           188
southern           182
northwestern       151
ural               134
north caucasian    107
far eastern         89
Name: count, dtype: int64

In [21]:
#perform data encoding on this on type_of_city
df['type_of_city'].value_counts()

from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
encoded_data=ohe.fit_transform(df[['type_of_city']])
encoded_df=pd.DataFrame(encoded_data.toarray(),columns=ohe.get_feature_names_out(['type_of_city']))
df=pd.concat([df,encoded_df],axis=1)

In [23]:
df['type_of_city']

0                                            village
1                                            village
2              city with population of less than 50k
3       city with population of 1 million and higher
4       city with population of 1 million and higher
                            ...
1595                                      settlement
1596                                         village
1597                 city with population of 50-100k
1598           city with population of less than 50k
1599                                         village
Name: type_of_city, Length: 1600, dtype: object

In [25]:
df['type_of_city'].astype('category')

0                                            village
1                                            village
2              city with population of less than 50k
3       city with population of 1 million and higher
4       city with population of 1 million and higher
                            ...
1595                                      settlement
1596                                         village
1597                 city with population of 50-100k
1598           city with population of less than 50k
1599                                         village
Name: type_of_city, Length: 1600, dtype: category
Categories (7, object): ['city with population of 1 million and higher', 'city with population of 100-500k',
                         'city with population of 50-100k', 'city with population of 500-950k',
                         'city with population of less than 50k', 'settlement', 'village']

In [26]:
df.dtypes

sex                                                           object
age                                                          float64
federal_district                                              object
type_of_city                                                  object
knows_election_date                                           object
will_vote                                                     object
candidate                                                     object
television_usage                                              object
internet_usage                                                object
education                                                     object
income                                                        object
employment                                                    object
job_type                                                      object
company_type                                                  object
weight1                                                      float64
type_of_city_city with population of 1 million and higher    float64
type_of_city_city with population of 100-500k                float64
type_of_city_city with population of 50-100k                 float64
type_of_city_city with population of 500-950k                float64
type_of_city_city with population of less than 50k           float64
type_of_city_settlement                                      float64
type_of_city_village                                         float64
dtype: object

In [ ]:
#convert will_vote column into 0 or1 num col
df['will_vote'].value_counts()
import numpy as np
df['will_vote']=np.where(df['will_vote']=='definitely yes',1,0)